extends layout


block content
  if error
    .container
      h1= error
  else
    -
      function formatUnixDate(unixTimestamp) {
        d = new Date(unixTimestamp*1000);
        days =['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
        mm = d.getMonth() + 1; // getMonth() is zero-based
        dd = d.getDate();
        return [d.getFullYear(), (mm>9 ? '' : '0') + mm,(dd>9 ? '' : '0') + dd
          ].join('-') + ' ' + days[d.getDay()]
        }
    .container
      h1.postal-address  #{mainPostalCode.prefecture}, #{mainPostalCode.division_one}, #{mainPostalCode.municipality}
    if weatherData
      .container
        #forecast-header 3 Day Forecast
      .container 
        #three-day-forecast
          each item in weatherData
            .forecast
              .weather-image
                - url = `http://openweathermap.org/img/wn/${item.weather[0].icon}@2x.png`
                img(src=url, alt="weather image")
              .date
                = formatUnixDate(item.dt)
              .weather-type
                = item.weather[0].main
              .max-min-temp
                = `Max: ${Math.round(item.temp.max)}° Min: ${Math.round(item.temp.min)}°`
    else
      .container
        p Weather could not be loaded
    
    .container.clearfix
      #map-container
        .map-header Map
        #map

      #nearPostalCodes-container
        .postal-codes-header Close Postal Codes
        if nearPostalCodes
          .postal-codes
            each postalCode in nearPostalCodes
              .postal-code(onclick=`location.href='./?postal_code=${postalCode.postal_code}'`)
                = `${postalCode.postal_code} - ${postalCode.division_one}`
        else
          p Close Postal Codes could not be found
      

block map_sources
  if location
    script(src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js")
    link(rel="stylesheet", href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css")


block map_setup
  if location
    script.
      mapboxgl.accessToken = 'pk.eyJ1IjoibXVyYXNha2kyOSIsImEiOiJja2NocGd4eGIxNDJhMnJwYm8yNWZqNG95In0.8fAAeOrcQlBiwz_cpGfGyg';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: ["#{location.lon}", "#{location.lat}"],
        zoom: 8
      });

      var marker = new mapboxgl.Marker()
        .setLngLat(["#{location.lon}","#{location.lat}"])
        .addTo(map);

